#publications-page-main {

	min-height: 100vh;

}

#publications-page-main h1 {
    position: relative;
    text-transform: uppercase;
}

#publications-page-main h1:after{
    content: "";
    background-color: #4eab4b;
    width: 20%;
    height: 3px;
    bottom: -10px;
    position: absolute;
    left: 40%;
}